#noResult, #paginationNav {
    display: none;
}
.form-group {
    width: 100%;
}

.form-control {
    min-width: 100%;
}

label {
    font-size: 140%;
}

#tableContent{
    display: none;
}

.glyphicon{
    text-align: center;
    width:100%;
}
.glyphicon-animate {
    animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

